.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.list-item {
    border-width: 2px;
    border: black solid;
    border-radius: 20px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: fit-content;
    box-shadow: 2px 2px 5px grey;
}

.list-content {
    margin: 20px;
}