<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <nav>
                    <a href="/" class="nav-logo-container">
                    <img src="/static/bnb logo 3.png" alt="MakersBnB Logo" class="nav-logo-img">
                    </a>
                    <a href="/login">Log In</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/"> Explore Spaces</a>
                    <a href="/spaces">List your Space</a>
                    <a href="/mybookings">My Bookings</a>
                    <a href="/host/bookings"> Manage Requests</a>
            </nav>
            <h1>Booking Denied</h1>
        </header>
        <p>Sorry, the date you selected is unavailable. Please select a different space or date.</p>
        <a href="/"><p>Go back to spaces</p></a>
    </body>
</html>