<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <a href="/signup">Sign up</a>
        <ul>
            {% for space in spaces %}
            <li>{{space.name}}, {{space.address}}. Description: {{space.description}}. Price: {{space.price_per_night}} To book call 0800-book-a-space</li>
            {% endfor %}
        </ul>
    </body>
</html>
