<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="nav-logo-container">
                    <img src="/static/bnb logo 3.png" alt="MakersBnB Logo" class="nav-logo-img">
                </a>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <a href="/"> Explore Spaces</a>
                <a href="/spaces">List your Space</a>
                <a href="/mybookings">My Bookings </a>
                <a href="/host/bookings"> Manage Requests</a>
            </nav>

            <h1>Explore Spaces</h1>
        </header>
       
            <div class="list">
            {% for space in spaces %}
                <div class="list-item">
                    <div class="list-content">
                        <h3><a href="/spaces/{{ space.id }}">{{ space.name }}</a></h3>
                        <p><strong> Description: </strong>{{ space.description }} </p>  
                        <p> <strong>Address: </strong> {{ space.address }} </p>  
                        <p> <strong>Price: </strong> £{{ space.price_per_night }}</p>
                        <p> Contact {{ space.user_email }} to make a booking for this space.</p>
                    </div>
                </div>
            {% endfor %}
            </div>
    </body>
</html>