<html>
    <head>
        <nav>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            <a href="/"> Explore Spaces</a>
            <a href="/spaces">List your Space</a>
            <a href="/mybookings">My Bookings</a>
            <a href="/host/bookings"> Manage Requests</a>
        </nav>
        <title> My Bookings</title>
    </head>

    <body>
        <h1> My Bookings</h1>
        <main>
            {% if bookings %}
                {% for booking in bookings %}

                    <h3> {{ booking.space_name }}</h3>
                    <p> Date: {{ booking.date }} </p>
                    <p> Price: £{{ booking.price_per_night }} per night </p>

                    {% if booking.confirmed %}
                        <span> Status: Approved </span>
                    {% else %}
                        <span> Status: Pending</span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>You haven't requested any bookings yet!</p>
                <p>View spaces you can book <a href="/">here</a></p>
            {% endif %}
        </main>
    </body>
</html>