<!DOCTYPE html>
<html>
    <head>
        <nav>
                    <a href="/" class="nav-logo-container">
                        <img src="/static/bnb logo 3.png" alt="MakersBnB Logo" class="nav-logo-img">
                    </a>
                    <a href="/login">Log In</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/"> Explore Spaces</a>
                    <a href="/spaces">List your Space</a>
                    <a href="/mybookings">My Bookings</a>
                    <a href="/host/bookings"> Manage Requests</a>
        </nav>
        <title>MakersBnB</title>
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <h1>{{ space.name }}</h1>
        </header>
       
            <div class="list">
                <div class="list-item">
                    <div class="list-content">
                <p> Description: {{ space.description }} </p>  
                <p> Address: {{ space.address }} </p>  
                <p> Price: £{{ space.price_per_night }}</p>
                <p> Contact {{ space.user_email }} to make a booking for this space.</p>
                <form method="POST" action="/spaces/{{ space.id }}">
                    <h3>Book this space:</h3>
                    <input type="date" name="date" placeholder="Date *" required>
                    
                    <button type="submit" value="Submit">Submit</button>
                    <p>*Required</p>
                </form>
                </div>
                </div>
            </div>
    </body>
</html>