<html>
    <head>
        <nav>
            <a href="/" class="nav-logo-container">
                <img src="/static/bnb logo 3.png" alt="MakersBnB Logo" class="nav-logo-img">
            </a>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            <a href="/"> Explore Spaces</a>
            <a href="/spaces">List your Space</a>
            <a href="/mybookings">My Bookings</a>
            <a href="/host/bookings"> Manage Requests</a>
        </nav>
        <title>Spaces</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Spaces Available</h1>
        <main> 

            <form class="spaces-form" method="POST" action="/spaces">
                    <h3>Add a new space</h3>
                    <input type="text" name="name" placeholder="Name *" required>
                    <input type="text" name="description" placeholder="Description *" required>
                    <input type="text" name="address" placeholder="Address *" required>
                    <input type="text" name="price_per_night" placeholder="Price per night *" required>
                    <button type="submit" value="Submit">Submit</button>
                    <p>*Required</p>
            </form>
        </main>
    </body>
</html>

